|تاریخ و ساعت قبول: #{accepted_at}
|محتویات مرسوله : #{content}
|نوع سرویس : #{type}
|دفتر پستی مبداء: #{from}
|مبدا: #{to}
|مقصد : #{office}
|نام فرستنده : #{sender}
|نام گیرنده : #{receiver}
|وزن : #{weight}
|هزینه پستی : #{totalPrice}
|کرايه پستي : #{price.p1}
|کرايه پستي پس از تخفيف : #{price.p2}
|تعهد غرامت اجباري : #{price.p3}
|آگهي تحويل الکترونيک : #{price.p4}
|سرويس پيام کوتاه : #{price.p5}
|ماليات بر ارزش افزوده : #{price.p6}
|حق السهم پست : #{price.p7}
|هزينه پستي (با ماليات) : #{price.p8}
